<div class="container-fluid p-fluid p-grid">
    <div class="row">
        <div class="col-12">
            <p-table [value]="vacancyList" [rows]="20" [rowsPerPageOptions]="[10,25,50]" dataKey="id"
                responsiveLayout="stack" styleClass="p-datatable-gridlines" [paginator]="true"
                [globalFilterFields]="['vacancy.titolo']" rowExpandMode="single">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="flex justify-content-center align-items-center">
                                Titolo
                                <p-columnFilter type="text" field="vacancy.titolo" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-center align-items-center">
                                Azienda
                                <p-columnFilter type="text" field="vacancy.azienda" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-center align-items-center">
                                Settore
                                <p-columnFilter type="text" field="vacancy.settore" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-center align-items-center">
                                Ruolo
                                <p-columnFilter type="text" field="vacancy.ruolo" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-center align-items-center">
                                Budget
                                <p-columnFilter type="text" field="vacancy.budget" display="menu"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-vacancy let-expanded="expanded">
                    <tr pRipple [pRowToggler]="vacancy" class="cursore">
                        <td>{{vacancy.titolo}}</td>
                        <td>{{vacancy.azienda}}</td>
                        <td>{{vacancy.settore}}</td>
                        <td>{{vacancy.ruolo}}</td>
                        <td>{{vacancy.budget | currency:'EUR'}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-vacancy>
                    <tr>
                        <td class="flex justify-content-center align-items-center" colspan="5">
                            <div class="text-center">
                                {{vacancy.descrizione}}
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>